.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 0 2rem;
    position: relative;
    min-height: calc(100vh - 80px);
}

.about_img {
    max-width: 500px;
    height: 100%;
    mask-image: url('../assets/img/modern-black-grunge-brush-stroke-white-background.png');
    mask-size: cover;
    mask-position: center bottom;
    mask-repeat: no-repeat;
    -webkit-mask-image: url('../assets/img/modern-black-grunge-brush-stroke-white-background.png');
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.about_img img {
    width: 95%;
    height: max-content;
    object-fit: contain;
    opacity: 0;
    transform: translateY(20px);
    animation-timeline: view();
    animation: fadeIn .5s ease forwards;
    animation-delay: .2s;
    
}

.about_info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.about_info p {
    line-height: 1.6;
}

.social_medias {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: .7rem;
    z-index: 999;
}

.social_medias a {
    font-size: 20px;
    transition: ease .2s;
}

.social_medias a:hover {
    color: #82739e;
    transform: scale(1.2);
    opacity: 0.8;
}


@keyframes fadeIn {

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

@media (max-width: 850px) {
    .about {
        flex-direction: column;
        text-align: center;
        gap: .5rem;
        padding:2rem 1rem;
    }

    .about_img {
        width: 100%;
        min-height: 450px;
        width: 400px;
        border-radius: 50%;
    }

    .about_text {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .about_img{
        max-width: 250px;
        border-radius: 50%;
        min-height: auto;
    }

    .about_info{
        padding-top: 0px;
    }
}