.home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2rem;
    min-height: 88vh;
      background: linear-gradient(135deg, #181818, #0f0f0f);
}

.infor {
    max-width: 400px;
}

.infor h2 {
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    color: #82739e;
    text-shadow: 0 0 12px rgba(138, 121, 255, 0.25);
    margin-bottom: .7rem;
}

.infor p {
    margin-top: 12px;
    font-size: 1.3rem;
    color: #cfcfcf;
}

.profile_img {
    max-height: 300px;
    width: 300px;
    background-color: #82739e; 
    border-radius: 50%;
    padding: 0.2rem;
    overflow: hidden;
    box-shadow: -1px -3px 10px 2px rgb(153 153 156 / 67%)
}

.profile_img img {
    width: 100%;
    height: auto;
    padding: .7rem;
    object-fit: contain;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
}

.cv{
    background-color: #82739e;
    border: none;
    padding: .8rem;
    margin: 20px 0;
    border-radius: 10px;
    font-size: 1rem;
    color: #cfcfcf;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.cv:hover{
    background-color: #242424;
}


@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:730px) {
    .profile_img{
        max-width: 250px;
        max-height: 250px;
    }
}

@media screen and (max-width:480px) {
   .home{
    padding: 10px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   }

   .infor h2{
    margin: 10px 0;
    font-size: 2rem;
   }
}

