.projects h2 {
    font-size: 2rem;
    padding: 1.5rem 1.5rem 1rem;

}

.projects_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 1.5rem;
    gap: 2rem;
}

.project {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.project_info {
    padding: .4rem;
}

.project img {
    width: 100%;
    opacity: .25;
    transition: opacity .4s ease, transform .4s ease;
    border-radius: 10px;
    cursor: pointer;
}

.project:hover img {
    opacity: 1;
    transform: scale(1.03);
}

.project_links {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
}


.project_links a {
    color: #fff;
}

.project_links a:hover {
    text-decoration: underline;
    color: #82739e;
}

.project_stack {
    font-size: 0.75rem;
    opacity: 0;
    margin-top: 0.4rem;
    transform: translateY(6px);
    transition: all 0.3s ease;
}

.project:hover .project_stack {
    opacity: 0.7;
    transform: translateY(0);
}

@media screen and (max-width:480px) {
    .projects_container {
        display: flex;
        flex-direction: column;

    }
}